@font-face {
  font-family: "GothamRounded-Book";
  src: url("GothamRounded-Book.eot");
  src: url("GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("GothamRounded-Book.woff") format("woff"),
    url("GothamRounded-Book.ttf") format("truetype"), url("GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: 325;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "GothamRounded-Medium";
  src: url("GothamRounded-Medium.eot");
  src: url("GothamRounded-Medium.eot?#iefix") format("embedded-opentype"),
    url("GothamRounded-Medium.woff") format("woff"), url("GothamRounded-Medium.ttf") format("truetype"),
    url("GothamRounded-Medium.svg#GothamRounded-Medium") format("svg");
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "GothamRounded-Bold";
  src: url("GothamRounded-Bold.eot");
  src: url("GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("GothamRounded-Bold.woff") format("woff"),
    url("GothamRounded-Bold.ttf") format("truetype"), url("GothamRounded-Bold.svg#GothamRounded-Bold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}